{% extends "layout.html" %}

{% block title %}Registration Process{% endblock %}

{% block content %}
<br><br><br>
<div class="max-w-lg mx-auto mt-20 bg-gray-400 p-8 rounded-lg shadow-lg border border-gray-200">
    <h2 class="text-3xl font-bold mb-6 text-center text-gray-800">Register</h2>
    <form action="{% url 'register_process' %}" method="post">
        {% csrf_token %}

        <!-- Grid layout for form fields with improved spacing and alignment -->
        <div class="grid grid-cols-2 gap-x-6 gap-y-6">
            {% for field in account_form %}
                <div class="col-span-2 sm:col-span-1">
                    <label class="block text-sm font-medium text-gray-700 mb-2" for="{{ field.id_for_label }}">
                        {{ field.label_tag }}
                    </label>
                    {{ field }}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1">{{ field.errors }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        
        <div class="mt-6 flex justify-end">
            <button type="submit" class="bg-blue-600 text-white px-6 py-3 rounded-lg shadow-lg hover:bg-blue-700 transition duration-300">
                Register
            </button>
        </div>
    </form>
</div>
{% endblock %}
